body{
    background-color: white;
    margin:0px;
    font-family: 'Inconsolata', monospace;
}

h1{
    text-align: center;
    color:black;
    font-size: 60px;
}

.header{
    margin: 30px 200px 0;
    font-size: 0;
}

.header  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align:middle;
    height: 100%;
    line-height: 45px;
}

.header li{
    display: inline;
    margin: 0 12px;
    color: black;
}

.header ul{
    padding: 0;
}

.image_logo{
    width: 40%;
}

.logo_lanurz{
    width: 300px;
}

.home_search{
    text-align: right;
}

.search_engine{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    opacity: 0.8;
}

.search_button{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: #ec1573;
    background-color: #ec1573;
    color: white;
    opacity: 0.8;
    margin-left: -5px;
}

.navbar{
    width: 60%;
    text-align: right;
    color:purple;
    font-weight: 500;
    height: 160px;
}

section li{
    color: black;
}

.disclaimer{
    margin: 50px 20px 50px;
    background-color: #f5d2e1;
    color: black;
    border-radius: 5px;
    padding: 50px;
}

.carousel-inner img{
    height: 456px;
}

.cards_content{
    align-items: center;
}

.trending{
    width: 100%;
    text-align: center;
}

.trending h1{
    margin: 50px 20px 50px;
}

.main{
    text-align: center;
    width: 100%;
}

.main  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align:middle;
    height: 100%;
    line-height: 45px;
}

.main ul{
    padding: 0;
}

.main li{
    display: inline;
    margin: 0 40px;
}