body{
    background-image: url("images/cherry\ background.png");
    margin:0px;
}

h1{
    text-align: center;
    color:#ec1573;
    font-size: 60px;
}

.header{
    margin: 30px 200px 0;
    font-size: 0;
}

.header  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align:middle;
    height: 100%;
    line-height: 45px;
}

.header li{
    display: inline;
    margin: 0 12px;
    color: gray;
}

.header ul{
    padding: 0;
}

.image_logo{
    width: 40%;
}

.logo_lanurz{
    width: 300px;
}

.home_search{
    text-align: right;
}

.search_engine{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: gray;
    opacity: 0.8;
}

.search_button{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: #ec1573;
    background-color: #ec1573;
    color: white;
    opacity: 0.8;
    margin-left: -5px;
}

.navbar{
    width: 60%;
    text-align: right;
    color:purple;
    font-weight: 500;
    height: 160px;
}

section li{
    color: gray;
}

.carousel_images{
    width:100%;
    display: flex;
    justify-content: center;
}

.carousel_images .carousel-inner > .carousel-item > img {
    width:100%;
    height:auto;
  }


.trending{
    width: 100%;
    text-align: center;
}

.main{
    text-align: center;
    width: 100%;
}

.main  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align:middle;
    height: 100%;
    line-height: 45px;
}

.main ul{
    padding: 0;
}

.main li{
    display: inline;
    margin: 0 40px;
}