body{
    background-image: url("images/cherry\ background.png");
    margin:0px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

h1{
    text-align: center;
    color:black;
    font-size: 60px;
}

.header{
    margin: 30px 200px 0;
    font-size: 0;
}

.header  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align:middle;
    height: 100%;
    line-height: 45px;
}

.header li{
    display: inline;
    margin: 0 12px;
    color: black;
}

.header ul{
    padding: 0;
}

.image_logo{
    width: 40%;
}

.logo_lanurz{
    width: 300px;
}

.home_search{
    text-align: right;
}

.search_engine{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    opacity: 0.8;
}

.search_button{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border-color: #ec1573;
    background-color: #ec1573;
    color: white;
    opacity: 0.8;
    margin-left: -5px;
}

.navbar{
    width: 60%;
    text-align: right;
    color:purple;
    font-weight: 500;
    height: 160px;
}

.banner .carousel .carousel-inner .carousel-item img{
    object-fit: fill;
    height: 700px;
}

section li{
    color: black;
}

.disclaimer{
    margin: 50px 20px 50px;
    background-color: #f5d2e1;
    color: black;
    border-radius: 5px;
    padding: 50px;
}

.cards_content{
    align-items: center;
}

.card .carousel .carousel-inner .carousel-item img{
    width: 400px;
    height:300px;
    object-fit: cover;
}

.card-body{
    height:200px;
}

.card article{
    max-height: 800px;
} 

.trending{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.trending h1{
    margin: 50px 20px 50px;
}

.main{
    text-align: center;
    width: 100%;
}

.main  > * {
    display: inline-block;
    font-size: 16px;
    vertical-align:middle;
    height: 100%;
    line-height: 45px;
}

.main ul{
    padding: 0;
}

.main li{
    display: inline;
    margin: 0 40px;
    font-size: 16px;
    font-weight:300;
}

footer{
    background-color: rgb(182, 177, 177);
    color: black;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    padding: 5% 10%;
    font-size: 16px;
}

footer li{
    list-style:none;
}

footer .social_network img{
    width: 30px;
}

footer .social_network .social_icons{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    padding: 5% 15%;
}

.subscribe_form{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    opacity: 0.8;
    margin: 0 auto;
    width: 100%;
}


.subscribe_btn{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    background-color: black;
    color: rgb(182, 177, 177);
    opacity: 0.8;
    margin: 20px auto;
    width: 100%;
}

footer .social_network img:hover{
    fill: red;
}